@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS below */

:root {
  --primary-color: #016339;
  --light-green: rgba(1, 99, 57, 0.14);
  --text-color: #363636;
}
body{
  overflow: auto !important;
}

.text-grey{
  color: var(--text-color);
}
a{
  font-family: "Cormorant", serif;
}
 .bg-white-50 {
      background-color: rgba(255,255,255,0.85);
    }
  .text-green{
    color: var(--primary-color);
  }  
.cormorant-regular {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-medium {
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-semibold {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-bold {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}

p{
  font-family: "Caudex", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: var(--text-color);
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant", serif;
  font-weight: 700;
}

h1 {
  font-size: 65px;
  color: var(--primary-color);
}
h2{
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4{
  font-size: 26px;
}
h5{
  font-size: 20px;
}
.btn-global {
  cursor: pointer;
  font-size: 25px;
}
.btn-global.btn-small{
  font-size: 16px;
}
.banner-outer {
  background: url(/banner-gradient.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

li img{
  max-width: 250px;
}

.d-block {
  display: block;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: all 0.3s ease;
  width: 140px;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.btn-primary{
  background-color: var(--primary-color);
  color: #fff;
  font-family: "Cormorant", serif;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 1.25rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.adding-to-cart .quantity{
  width: fit-content;
    background: #E0ECE7;
    padding: 0.6rem;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
}

.increment, .decrement{
  font-size: 18px;
  color: var(--primary-color);
}
.image-overlay-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card.card-all img{
  width: 100%;
  display: block;
  object-position: 20px 0px;
}

.overlay{
  content: "";
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1,99,57, 0.6);
}

.our-bestsellers{
   background-color: rgba(221, 250, 244, 0.47);
}

.about-us h5{
  position: relative;
  padding-left: 40px;
}

.about-us h5::before{
  position: absolute;
  content: "";
  background: url(herbal-spa-treatment-leaves\ 1.svg) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.testimonial {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.testimonial.active {
  opacity: 1;
  pointer-events: auto;
}

.fade {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.testimonial-slider{
  position: relative;
}

.testimonial img{
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.testimonial-nav button{
  cursor: pointer;
      color: var(--primary-color);
    font-size: 28px;
    font-weight: 100;
}
.testimonial-img-wrapper{
  background-color: var(--light-green);
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
  
.testimonial-author{
  margin-top: 20px;
}

.input-text.qty{
  width: 60px;
  text-align: center;
}

.plant-price{
  font-family: "Caudex", serif;
  font-weight: 400;
  color: var(--primary-color);
}

.plant-name{
  color: var(--primary-color);
  font-family: 'Caudex';
  font-size: 18px;
  margin-left: 10px;
  font-weight: 500 !important;
}
#plant-list .plant-name{
  color: #000;
  font-size: 22px;
}

.grow-conditions img{
  width: 45px;
}

.grow-conditions p{
  margin-bottom: 2rem;
}

.logo img{width: 165px;}
.product-section .product-img{
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}
.singleplant-name{
  font-family: 'Cormorant';
  font-size: 32px;
  color: var(--primary-color);
}
.scientific-name{
  font-weight: 600;
}
.scientific-name span{
  color: var(--primary-color);
}
.product-img img{
  height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.product-img img {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.product-img img.fade-out {
  opacity: 0;
}

.tab-panel{
  display: none;
}
.tab-panel.active{
  display: block;
}
.cart{position: relative; cursor: pointer;}
#cart-count{
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: var(--primary-color);
  color:  #fff;
  line-height: 1;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
      width: 20px;
    height: 20px;
    font-family: 'Cormorant';
}
#filtering{
  border-right: 1px solid #ADADAD;
}

#filtering label{
  display: block;
  font-family: 'Caudex';
  font-size: 18px;
  padding: 8px 0;
}
#filtering label.active{
  color: var(--primary-color);
  font-weight: 500;
}

.plant-listItem{
    background: #fafafa;
    padding: 20px;
    border: 1px solid #016339;
    border-radius: 20px;
    width: calc(30% - 1rem);
    overflow: hidden;
}

.plant-listItem img{
  border-radius: 12px;
  margin: auto;
  width: 100%;
}
.plant-price{
  font-size: 20px;
}

.plant-listItem .add-to-cart{
  text-align: center;
  background-color: #016339;
  font-family: 'Cormorant';
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 5px;
}

.thumbnail-images img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #ADADAD;
  cursor: pointer;
}

#filtering input{
  accent-color: var(--primary-color);
}
.sunlight-cond span{
   text-transform: capitalize;
}
.plant-info .tab{
  border-bottom: 0.5px solid #b7b6b6;;
}
.tab-link{
  font-size: 17px;
  font-weight: 500;
}
.tab-link.active{
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Caudex';
    margin-bottom: 10px;
}

.cart-table thead{
  background-color: var(--primary-color);
}
.cart-table-wrapper, .cart-totals-wrapper {
  background-color: #FBFBFB;
}
.cart-totals-wrapper table tr td:last-child:not(td.coupon-section){
  text-align: right;
}
.cart-table td {
  padding: 10px 0;
  border-top: 1px solid #ececec;
}

.cart-table td img{
    width: 110px;
    height: 90px;
    object-fit: cover;
    object-position: bottom;
    float: left;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}
.cart-table th{
  font-family: 'Cormorant';
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-align: left;
  padding: 8px 0;
}

.quantity-container{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  border: 1px solid #7e7e7e;
  border-radius: 20px;
  width: 70%;
  align-items: center;
}
.remove-btn{
  text-align: center;
    margin: auto;
    width: 100%;
    color: var(--primary-color);
    font-size: 20px;
}
.product-td{
    display: flex;
    align-items: center;
}


  #checkoutForm{
      background: white;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-group {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    .form-group label {
      flex: 1 1 100%;
      margin-bottom: 0.3rem;
    }
    .form-group input {
      flex: 1 1 100%;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    .form-row {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    .form-row .form-group {
      flex: 1;
    }
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
input.error-border {
  border: 1px solid red;
}
.footer-logo p{
  color: #fff;
  font-size: 15px;
}